@{
    ViewData["Title"] = "Character Creator";
}


<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Character Creator!</h1>
        <p class="lead">Get ready to explore the world of character creation as you design the fundamentals of your very own character. You can find your friends and share your characters with them.</p>
        <hr class="my-4">
    </div>

    <div>
        <h3>About Friends</h3>
        <p>You can view all of your friends under the Friends tab. You will also be able to see your incoming (pending) and outgoing (waiting) friend requests.
            After you are friends with someone, you can share your characters with them.
        </p>
    </div>
    <div>
        <h3>About Characters</h3>
        <p>Each character you create will go by a name. This is usually the name the character is referred to by. You can add additional information about first, middle, and last name for your character.
            You can pick from a long list of traits to add to your character. You can add skills to your character and give them a description on how the skill relates to your character.
            You can also add likes and dislikes to your character, where you enter a custom thing and write a description.
        </p>
    </div>
    <div>
        <h3>About Locations</h3>
        <p>You can create locations for any country in the world. Most countries have at least 5 cities to pick from when making a location. Canada, United States, Mexico, Brazil, Spain, France, Germany, United Kingdom, India, China, Australia, and New Zealand have subdivisions available to pick from.
            These subdivisions also include territories or other regions. Not all subdivisions have cities available for them at this time.
        </p>
        <img src="~/Images/cityquizio.png" alt="Map of all available cities"/>
    </div>

</div>


