@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>References</h2>
<hr class="hr" />

<h4>Traits</h4>
<p>The main source for traits is <a href="https://ideonomy.mit.edu/essays/traits.html" target="_blank">Ideonomy MIT</a> from 1998-05-10. Additional traits were added and some of the traits from the list were excluded. Connotations were updated to better reflect more associations.</p>
<p>Definitions paraphrased using sources like <a href="https://languages.oup.com/google-dictionary-en/" target="_blank">Oxford Languages</a> and other online dictionaries.</p>
<hr class="hr" />

<h4>Locations</h4>
<p>List of countries, cities, and states were gathered through personal knowledge and references like <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a> and <a href="https://worldpopulationreview.com/" target="_blank">World Population Review</a>.</p>
<p>All accents were removed because they were displayed strangely.</p>
<hr class="hr" />
