@{
    ViewData["Title"] = "Character Creator";
}


<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Character Creator!</h1>
        <p class="lead">Get ready to explore the world of character creation as you design the fundamentals of your very own character. You can find your friends and share your characters with them.</p>
        <hr class="my-4">
    </div>



    
</div>


