html {
    height: 82.5%;
}

body {
    height: 100%;
}

.bg-page {
    background-color: coral;
}

.bg-main {
    background-color: white;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    background-color: blanchedalmond;
}

.nav-link, .navbar-brand {
    color: slateblue;
}
.nav-link:hover, .navbar-brand:hover {
    color: cornflowerblue;
}



footer {
    background-color: blanchedalmond;
    color: slateblue;
}

.footer-nav {
    color: slateblue;
}
.footer-nav:hover {
    color: cornflowerblue;
}

